.app__interest {
  display: inline-grid;
  gap: 2rem;
  grid-template-columns: auto auto auto auto;
}
.app__interest__item {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: .5rem;
  text-decoration: none;
}
.app__interest__item__icon {
  background-color: var(--color-gray-lighter);
  border-radius: 999px;
  color: rgba(0,0,0, .85);
  display: grid;
  height: 3.12rem;
  font-size: 1.6rem;
  place-items: center;
  transition: background-color .3s, color .3s;
  width: 3.12rem;
}
.app__interest__item__title {
  color: rgba(0,0,0, .85);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}