.app {
  padding-bottom: 10rem;
}
.app__main {
  display: flex;
  flex-flow: column;
  gap: 4rem;
}
.app__section ~ .app__section {
  margin-top: 3rem;
}
.app__section h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-transform: uppercase;
}
@media (min-width: 425px) {
  .app__main {
    flex-flow: row;
    gap: 8rem;
  }
  .app__main > * {
    width: 100%;
  }
}
