@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/Rajdhani/Rajdhani-Light.ttf');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/Rajdhani/Rajdhani-Regular.ttf');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/Rajdhani/Rajdhani-Medium.ttf');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/Rajdhani/Rajdhani-Bold.ttf');
}
